{% extends "_base.html" %}
{% block content %}
<!-- The checkpoint screen. Replay asserts on the reference number's presence. -->
<div class="box">
<table>
  <tr><td colspan="2"><b>SUB-ACCOUNT OPENED</b></td></tr>
  <tr><td>Member ID</td><td>{{ member.member_id }}</td></tr>
  <tr><td>New Account No</td><td><b>{{ account_number }}</b></td></tr>
  <tr><td>Product</td><td>{{ product }}</td></tr>
  <tr><td>Opening Deposit</td><td>{{ deposit }}</td></tr>
  <tr><td>Reference</td><td>{{ reference }}</td></tr>
</table>
</div>
<div class="sysmsg">Transaction posted. Retain reference number for audit.</div>
{% endblock %}
